<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="3.2.2-beta-00312" targetFramework="net47" />
  <package id="DSharpPlus.CommandsNext" version="3.2.2-beta-00312" targetFramework="net47" />
  <package id="DSharpPlus.Interactivity" version="3.2.2-beta-00312" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
</packages>